.timer{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40%;
  width: 95%;
  border: solid black;

  
  font-size: 8em;

  // background-image: linear-gradient(to top, #1D976C, #93F9B9) ;
  // background-image: #111;
  // background-image: linear-gradient(to top, #1D976C, #1D976C) ;
}